<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

        </style>
    </head>
    <body style="margin: 20px 200px; font-family: 'Lato', sans-serif !important;">
        <main class="in">
            <img src="http://127.0.0.1:5000/static/images/boxes.png" alt="boxes" style="width: 100%; height: auto;">
            <h1 style="color: #FFC107">New order (id: {{ neworder[0]["id"] }}) placed successfully.</h1>
            <p>Hello, {{ newuser[0]['username'] }}</p>
            <p>You have successfully placed a new order with the following details.</p>
            <table>
                <tr>
                    <td>Order Id:</td>
                    <td>#{{ neworder[0]["id"] }}</td>
                </tr>
                <tr>
                    <td>Sender name:</td>
                    <td>{{ neworder[0]["sender_name"] }}</td>
                </tr>
                <tr>
                    <td>Sender phone number:</td>
                    <td>{{ neworder[0]["sender_phone"] }}</td>
                </tr>
                <tr>
                    <td>Sender address:</td>
                    <td>{{ neworder[0]["sender_address"] }}</td>
                </tr>
                <tr><td>-</td></tr>
                <tr>
                    <td>Receiver name:</td>
                    <td>{{ neworder[0]["receiver_name"] }}</td>
                </tr>
                <tr>
                    <td>Receiver phone number:</td>
                    <td>{{ neworder[0]["sender_phone"] }}</td>
                </tr>
                <tr>
                    <td>Receiver address</td>
                    <td>{{ neworder[0]["receiver_address"] }}</td>
                </tr>
                <tr><td>-</td></tr>
                <tr>
                    <td>Package type</td>
                    <td>{{ neworder[0]["package_category"] }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ neworder[0]["content"] }}</td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td>{{ neworder[0]["notes"] }}</td>
                </tr>
            </table>
            <br><br>
            <p>Happy sending!<br>The Sendthis4me team</p>
        </main>
    </body>
</html>