{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<header>
    <div style="padding: 30px;">
        <h1>Get your parcel anywhere with ease</h1>
        <p>SendThis4Me can get your parcel where you need it to be. Simply. Affordably</p>
        <a href="/signup"> <button type="button" class="btn btn-warning">Get Started</button></a>
    </div>
    <div style="padding-top: 10px;">
        <br>
        <img src="../static/images/boxes.png" alt="" class="header-clipart">
    </div>
</header>
{% endblock %}