{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
<main class="sign">
    <br>
    <h1>Sign Up</h1>
    <p>Let's get you started. Dispatchers are like delivery men, except more<br>flexible. You accept orders if  they're convenient for you. Senders<br>are the ones with the parcels they wish to be sent.</p>
    <a href="/sender-register"><button type="button" class="btn btn-warning">Sign up as a dispatcher</button></a>
    <a href="/client-register"><button type="button" class="btn btn-warning">Sign up as a sender</button></a>

</main>
{% endblock %}